<nav class="navbar navbar-expand-lg navbar-dark header-style mb-4">
  <img class="header-logo" src="/assets/images/cfth-logo.png" />
  <div class="header-title ml-2">Concerned For The Hungry</div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.concernedforthehungry.org"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
