<div class="continer">
  <h2>Verify your information:</h2>
  <div class="row">
    <div class="col-3">
      <label>Client ID:</label>
    </div>
    <div class="col text-left">{{ clientInfo.ClientId }}</div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>First Name:</label>
    </div>
    <div class="col text-left">{{ clientInfo.FirstName }}</div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Last Name:</label>
    </div>
    <div class="col">{{ clientInfo.LastName }}</div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Street Address:</label>
    </div>
    <div class="col">{{ clientInfo.StreetAddress }}</div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Apt Number:</label>
    </div>
    <div class="col">{{ clientInfo.AptNum }}</div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>City:</label>
    </div>
    <div class="col">{{ clientInfo.City }}</div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Zip:</label>
    </div>
    <div class="col">{{ clientInfo.Zip }}</div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Email:</label>
    </div>
    <div class="col">{{ clientInfo.Email }}</div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Phone:</label>
    </div>
    <div class="col">{{ clientInfo.Phone }}</div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Number of People in Household:</label>
    </div>
    <div class="col">{{ clientInfo.FamilySize }}</div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Basket Pickuped up by:</label>
    </div>
    <div class="col" *ngIf="clientInfo.WhoDelivers === 'alternate'">
      {{ clientInfo.AlternateFirstName }} {{ clientInfo.AlternateLastName }},
      Phone: {{ clientInfo.AlternatePhone }}
    </div>
    <div class="col" *ngIf="clientInfo.WhoDelivers === 'agency'">
      Agency: {{ clientInfo.Agency }}
    </div>
    <div class="col" *ngIf="clientInfo.WhoDelivers === 'cfth'">CftH</div>
    <div class="col" *ngIf="clientInfo.WhoDelivers === 'self'">
      The Client picks up
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Selected Qualifying IDs:</label>
    </div>
    <div class="col">
      <ul>
        <li *ngIf="clientInfo.HeapLetter">Heap Award Letter</li>
        <li *ngIf="clientInfo.CommunityReferral">
          Referral Letter from Community Agency or Spiritual Leader
        </li>
        <li *ngIf="clientInfo.BenefitCard">Benefit Card</li>
        <li *ngIf="clientInfo.SSILetter">SSI Award Letter</li>
        <li *ngIf="clientInfo.WICCard">WIC Card</li>
        <li *ngIf="clientInfo.Unemployment">
          Active, current unemployment information
        </li>
        <li *ngIf="clientInfo.MuniHousing">
          Proof of Residency in Municipal Housing
        </li>
        <li *ngIf="clientInfo.SsdLetter">SSD Award Letter</li>
      </ul>
    </div>
  </div>
</div>
