<div class="container">
  <div class="row">
  <form [formGroup]="signinForm">
    <h2>Sign in to your account</h2>
    <mat-form-field class="m-2">
      <input
        matInput
        placeholder="Email"
        type="email"
        formControlName="email"
        autocomplete="email"
        required
      />
      <mat-hint *ngIf="!emailInput.value">Enter your email address</mat-hint>
      <mat-error *ngIf="!emailInput.valid">
        {{ getEmailInputError() }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="m-2">
      <input
        matInput
        placeholder="Password"
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        required
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
      <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>
      <mat-error *ngIf="!passwordInput.valid">
        {{ getPasswordInputError() }}
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="signIn()"
      [disabled]="!signinForm.valid"
    >
      Sign In
    </button>
  </form>
</div>
<div class="row">
  <a href="https://cfthsignup.auth.us-east-1.amazoncognito.com/forgotPassword?client_id=4dtg4vu9l8i52oeo8e9lamd1q7&response_type=token&scope=aws.cognito.signin.user.admin&redirect_uri=https://www.cfthsignup.org/signup">Forget Password?</a>
</div>
