<div class="container">
  <div class="row">
    <div class="col">
      <H1>Sign-ups</H1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Basic Information</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ol>
        <li>Maximum of 2800 to be made.</li>
        <li>Must be a resident of Schenectady County.</li>
        <li>Must have one of the qualifying IDs to sign up.</li>
        <li>One basket per household.</li>
        <li>
          Baskets can only be picked up in a vehicle. No "walkers" this year.
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Qualifying ID:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li>HEAP Award Letter</li>
        <li>Referral from Community Agency or Community Leader</li>
        <li>Benefit Card</li>
        <li>SSI Award Letter</li>
        <li>WIC Card</li>
        <li>Active, current unemployment Information</li>
        <li>Proof of Residency in Municipal Housing</li>
        <li>SSD Award Letter</li>
      </ul>

      <h3 class="warning">
        We DO NOT Accept Social Security Cards, Social Security Award Letter or
        Medicare Cards.
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col"><h2>To Pick up basket, you must:</h2></div>
  </div>
  <div class="row">
    <div class="col">
      <ol>
        <li>Wear a face mask</li>
        <li>
          Social Distance while waiting in line and while dealing with our
          volunteers
        </li>
        <li>Person picking up must present a Photo ID</li>
        <li>
          To pick up another person’s basket, you must have a note from them.
        </li>
      </ol>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-auto">
      <button mat-raised-button color="primary" routerLink="/signup">
        Sign Up
      </button>
    </div>
  </div>
</div>
