<div class="container">
  <div class="row">
    <div class="col">
      <H1>Sign-ups for the 2020 Thanksgiving Food Drive</H1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Basic Information</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ol>
        <li>Maximum of 2800 baskets will be made.</li>
        <li>Must be a resident of Schenectady County.</li>
        <li>Must have one of the qualifying ID's listed below to sign up.</li>
        <li>Limit of one basket per household.</li>
        <li>Baskets must be picked up in a vehicle. No "walkers" this year.</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Qualifying ID:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li>HEAP Award Letter (Home Energy Assistance Program)</li>
        <li>Referral from Community Agency or Community Leader</li>
        <li>Benefit Card</li>
        <li>SSI Award Letter (Supplemental Security Income)</li>
        <li>
          WIC Card (Supplemental Nutrition Program for Women, Infants, and
          Children)
        </li>
        <li>Active, current unemployment Information</li>
        <li>Proof of Residency in Municipal Housing</li>
        <li>SSD Award Letter (Social Security Disability)</li>
      </ul>

      <h3 class="warning">
        We DO NOT Accept Social Security Cards, Social Security Award Letter or
        Medicare Cards.
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col"><h2>To Pick up basket on 11/22/2020, you must:</h2></div>
  </div>
  <div class="row">
    <div class="col">
      <ol>
        <li>Wear a face mask</li>
        <li>
          Social Distance while waiting in line and while interfacing with our
          volunteers
        </li>
        <li>Person picking up must present a Photo ID</li>
        <li>
          To pick up another person’s basket, you must have a note from that
          person that lists their full name and address.
        </li>
      </ol>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-auto">
      <button mat-raised-button color="primary" routerLink="/signup">
        Sign Up
      </button>
    </div>
  </div>
</div>
